.side-addBlog {
    width: auto;
    padding: 10px 10px;
    border-radius: 4px;
    background: #00c6d7;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.2s;
    text-align: center;
}

.side-addBlog:hover {
    background: #00a1b3;
    transform: translateY(-2px);
}
