.show-btn{
  width: 25px;
  height: 60px;
  border-radius: 4px;
  background: #2e3080;
  align-items: center;
  padding: 2px;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}

.icon-container {
  display: flex;
  flex-direction: column;
  margin: 72px 60px;
  gap: 60px;
  position: fixed;
  right: 5px;
  cursor: pointer;
    justify-content: center;
  align-items: center;
}

.icon-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #2e3080;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  transition: 0.2s;
  color: #fff;
}

.icon-btn:hover {
  background: #00c6d7;
}

.icon-btn.dark-mode {
  background: #0e1117;       
  color: #f8f9fa;
  box-shadow: 0 0 8px rgba(0,0,0,.5);
}

.icon-btn.dark-mode:hover {
  background: #1b2330;
}

.icon-btn.light-mode {
  background: #2e3080;  
  color: #ffffff;
}

.setting-panel {
  position: fixed;
  margin: auto;
  width: 800px;
  height: 400px;
  background: red;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.25);
  padding: 2px;
}

.setting-panel__header{
  background: #00c6d7;
  height: 40px;
  color: #fff;
  border-radius: 10px 10px 0 0;
}